 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27');
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background: #7c6e8d;
   font-family: 'Montserrat', sans-serif;
 }

 a {
   text-decoration: none;
 }

 .header {
   background-color: rgba(60, 70, 78, .5);
 }

 .header-inner {
   max-width: 1200px;
   margin: 0 auto;
   /* padding: 20px 0; */
 }

 .nav-logo{
   display: flex;
   align-items: center;
 }

 .header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .ul li {
   display: flex;
   align-items: center;
 }

 .logo img {
   width: 121px;
   height: 83px;
 }

 li {
   list-style: none;
 }

 .icon {
   width: 16px;
   filter: invert();
 }

 .ul li a {
   margin-left: 70px;
   color: #ffff;
   font-size: 20px;
 }

 .sign-in {
   display: flex;
   align-items: center;
 }

 .sign-in_btn {
   padding: 8px 30px;
   margin-right: 20px;
   font-size: 20px;
   background-color: rgba(60, 70, 78, .0);
   color: white;
   border: 1px white solid;
   border-radius: 30px;
   cursor: pointer;
 }

 .nav-container .ul {
   display: flex;
 }

 .image-sign-in img {
   margin-right: 10px;
   Width: 23px;
   Height: 28px;
 }

 .WelcomImge::after {
  content: "";
  display: block;
  background-color: rgba(124, 110, 141, .6);
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

 .WelcomImge{
   overflow: hidden;
   z-index: 1;
   position: relative;
 }

 .WelcomImge img{
   width: 100%;
  height: 50vh;
 }

 .welcome-title{
   z-index: 2;
   position: absolute;
   top: 250px;
   left:500px;
   font-weight: 200;
   color: white;
 }

 span a{
   color: rgb(57, 255, 57);
   font-weight: 300;
 }

 span h2{
   font-weight: 200;
 }

.WelcomText{
  text-align: center;
}

.WelcomButton{
  text-align: center;
}

.WelcomButton{
  padding: 40px;
}

.butoncotolog{
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 50px;
  color: white;
  background-color: #C047EB;
  font-weight: 200;
  cursor: pointer;
}

.container-api img{
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
}

.container-api h3{
  color: white;
}



.popular-inner{
  padding: 40px 0;
}


.popular-container{
  text-align: center;
}

.popular-container h1{
  
  color: white;
  font-weight: 200;
}

.GameList{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.buttonserh{
  padding: 10px 20px;
  cursor: pointer;
  color: #C047EB;
  font-weight: 200;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 50px;
}