 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27');
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background: #7c6e8d;
   font-family: 'Montserrat', sans-serif;
 }

 a {
   text-decoration: none;
 }

 .header {
   background-color: rgba(60, 70, 78, .5);
   /* position: fixed; */
 }

 .header-inner {
   max-width: 1200px;
   margin: 0 auto;
   /* padding: 20px 0; */
 }

 .nav-logo{
   display: flex;
   align-items: center;
 }

 .header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .ul li {
   display: flex;
   align-items: center;
 }

 .logo img {
   width: 121px;
   height: 83px;
 }

 li {
   list-style: none;
 }

 .icon {
   width: 16px;
   filter: invert();
 }

 .ul li a {
   margin-left: 70px;
   color: #ffff;
   font-size: 20px;
 }

 .sign-in {
   display: flex;
   align-items: center;
 }

 .sign-in_btn {
   padding: 8px 30px;
   margin-right: 20px;
   font-size: 20px;
   background-color: rgba(60, 70, 78, .0);
   color: white;
   border: 1px white solid;
   border-radius: 30px;
   cursor: pointer;
 }

 .nav-container .ul {
   display: flex;
 }

 .image-sign-in img {
   margin-right: 10px;
   Width: 23px;
   Height: 28px;
 }

 .WelcomImge::after {
  content: "";
  display: block;
  background-color: rgba(124, 110, 141, .6);
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

 .WelcomImge{
   overflow: hidden;
   z-index: 1;
   position: relative;
 }

 .WelcomImge img{
   width: 100%;
  height: 50vh;
 }

 .welcome-title{
   z-index: 2;
   position: absolute;
   top: 250px;
   left:500px;
   font-weight: 200;
   color: white;
 }

 span a{
   color: rgb(57, 255, 57);
   font-weight: 300;
 }

 span h2{
   font-weight: 200;
 }

.WelcomText{
  text-align: center;
}

.WelcomButton{
  text-align: center;
}

.WelcomButton{
  padding: 40px;
}

.butoncotolog{
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 50px;
  color: white;
  background-color: #C047EB;
  font-weight: 200;
  cursor: pointer;
}

.container-api{
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
}



.img-api::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  height: 206px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  overflow: hidden;
}

 .img-api{
   overflow: hidden;
   z-index: 3;
   position: relative;
 }

 

.title-api h3{
  color: white;
  font-weight: 400;
}



.popular-inner{
  padding: 40px 0;
}


.popular-container{
  text-align: center;
}

.popular-container h1{
  
  color: white;
  font-weight: 200;
}

.GameList{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.buttonserh{
  padding: 10px 20px;
  cursor: pointer;
  color: #C047EB;
  font-weight: 200;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 50px;
}

.api-img{
  background-color: black;
  position: absolute;
  z-index: 20;
 
}

.container-api-img{
  position: relative;
  z-index: 10;
}

.container-api{
  margin-bottom: 20px;
}

.footer{
  background-color: rgba(60, 70, 78, .5);
}

.footer-container{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.nav-footer{
  display: flex;
  flex-direction: column;
  
}

.footer-nav{
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}


.nav-footer-2{
  display: flex;
  flex-direction: column;
  
}


.logo-footer img{
  width: 201px;
  height: 135px;
}

.footer-nav2{
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-inner{
  padding: 100px 0;
}

.logo-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-footer{
  text-align: center;
}

.footer-title h5{
  /* margin: 0px 100px 0px 100px; */
  color: white;
  font-weight: 200;
}

.info-container{
  max-width: 1300px;
  margin: 0 auto;
}

.info-inner{
  padding: 30px 0;
}

.info-img img{
  border-radius: 20px;
  width: 550px;
  height: 330px;
  margin-bottom: 30px;
}

.info-img{
  width: 50%;
}

.info-h1{
  color: white;
}

.info-desc h1{
  font-size: 20px;
  color: white;
  font-weight: 200;
}

.info-img button{
  font-weight: 200;
  padding: 15px 190px;
  font-size: 50px;
  border-radius: 20px;
  color: white;
  background: linear-gradient(90deg, #BD00FF 0%, rgba(189, 0, 255, 0) 100%), rgba(189, 0, 255, 0.5);
  border: none;
}

.info-df{
  display: flex;
  

}

.info-title{
  padding: 30px 0;
  text-align: center;
}

